.aboustUs_container {
    width: 100%;
    padding: 0;
    margin: 0;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutUs_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 100%;
}

.aboutUs_section1_header {
    /* border: 2px solid black; */
    width: 70%;
    margin-top: 5vh;
}
.aboutUs_section1{
    margin-bottom: 3vh;
}

.aboutUs_section1_header h1 {
    font-size: 24px;
    font-weight: 500;
}

.aboutUs_section1_header p {
    font-size: 18px;
    font-weight: 400;
}

.aboutUs_section2 {
    width: 100%;
    height: 400px;
    
}

.aboutUs_section2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUs_section3 {
    width: 100%;
    height: 240px;
    background: url('../assets/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutUs_section3 p{
    /* border: 2px solid black; */
    width: 70%;
    font-size: 18px;
    margin: 0;
}
.aboutUs_section3 h1{
    font-size: 24px;
    font-weight: 500;
    width: 70%;
}
.aboutUs_section4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 83vh;
}
.aboutUs_section4_inner{
    /* border: 2px solid black; */
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aboutUs_section4_header {
    /* border: 2px solid black; */
    
    width: 70%;
}
.aboutUs_section4_header h1{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.aboutUs_section4_card {
    /* border: 2px solid black; */
    width: 15%;
    height: 50vh;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
}
.section4_card_image{
    width: 100%;
    height: 50%;
    /* border: 2px solid black; */
}
.section4_card_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} 
.section4_card_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 100%;
}
.section4_card_header h6{
    margin: 0;
    font-size: 18px;
}
.section4_card_header p{
    text-align: center;
    font-size: 18px;
}