.buyProducts_image{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color:indianred;
    width: 100%;
    /* border: 2px solid red; */
    height: 91vh;
}
.buyProducts_image{
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 900;
}
.buyProducts_bottomNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9vh;
    /* border: 2px solid black; */
    position: sticky;
    top: 0;
}
.buyProducts_bottomNav_tab1{
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}
.buyProducts_bottomNav a{
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}
.buyProducts_overview{
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color:lightgoldenrodyellow;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    
}
.buyProducts_overview h1{
    /* border: 2px solid black; */
    margin-top: 13vh;
}
.buyProducts_overview_secHolder{
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 2px solid red; */
    height: 70vh;
    width: 90%;
}
.buyProducts_overview_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
}
.buyProducts_overview_sec p{
    width: 80%;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    font-size: 19px;
}
.buyProducts_overview_sec img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.buyProducts_works{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* border: 2px solid black; */
    height: 100vh;
    width: 100%;
}
.buyProducts_works h1{
    margin-top: 20vh;
    margin-bottom: 7vh;
}
.buyProducts_logo_holder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    height: 50vh;
    width: 70%;
}
.buyProducts_logo_card{
    /* border: 2px solid black; */
    height: 70%;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buyProducts_logo_card p{
    text-align: center;
    font-weight: 600;
}
.buyProducts_logo_card_image{
    border: 2px solid black;
    width: 100%;
    height: 70%;
    border-radius: 100%;
}
.buyProducts_form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
}
.buyProducts_form h1{
    /* border: 2px solid black; */
    margin-top: 15vh;
}
.buyProducts_formholder{
    /* border: 2px solid black; */
    width: 70%;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
.buyProducts_inputholder{
    /* border: 2px solid black; */
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buyProducts_inputholder input{
    width: 40%;
    height: 6vh;
    border-radius: 7px;
    padding-left:2vh;
    font-weight: 500;
    font-size: 18px;
    border: 3px solid #808080bd;
}
.buyProducts_formholder button{
    width: 72%;
    height: 6vh;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    border: none;
    background-color: orange;
}
.link_pages{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    width: 100%;
    height: 7vh;
}